
body{
    background: #077EFF url("imgs/BGTile.png") repeat-x;
}
.info-div-box{
    left: 10%;
    right: 10%;
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login{
    text-align: center;
}
IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

TABLE.temp_search {
    font: normal 12px/20px "courier new", serif;
    display: block;
    position: static;
    width: 95%;
    border: solid;
    border-color: #43ff27;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

TABLE.temp_search th {
    font-weight: bold;
    font-size: large;
    color: #077EFF;
}
TABLE.temp_search td {
    font-weight: bold;
    font-size: inherit;
    color.: #000;

}
.srch-header th{
    border-bottom: double;
    border-color: black;
    text-align: center;
}
.srch-art{
    width:2%;
    text-align: center;
}
.srch-album{
    width: 15%;
    text-align: center;
}
.srch-artist{
    width: 15%;
    text-align: center;
}
.srch-track{
    width: 15%;
    text-align: center;
}
.srch-preview{
    width: 10%;
    text-align: center;
}
.srch-add{
    width: 10%;
    text-align: center;
}
.srch-data{
    text-align: center;
}
.srch-data-btn{
    text-align: center;
}
.srch_result{

}
#login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }

/*  Ben blah blah blah repo push test */
