
body{
    background-color: #99bd2e;
}
.info-div-box{
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }

/*  Ben blah blah blah repo push test */
